{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://eshop-api-5dx33.ondigitalocean.app","description":"Generated server url"}],"paths":{"/api/cart/items/{itemId}":{"put":{"tags":["cart-controller"],"operationId":"updateItem","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCartItemRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartResponse"}}}}}},"delete":{"tags":["cart-controller"],"operationId":"removeItem","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartResponse"}}}}}}},"/api/admin/users/{userId}/roles":{"put":{"tags":["admin-user-controller"],"operationId":"updateRoles","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUserRolesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminUserDetailResponse"}}}}}}},"/api/admin/catalog/products/{productId}":{"get":{"tags":["admin-product-controller"],"operationId":"getProduct","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}},"put":{"tags":["admin-product-controller"],"operationId":"updateProduct","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductUpsertRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}}},"/api/admin/catalog/products/{productId}/variants/{variantId}":{"put":{"tags":["admin-product-controller"],"operationId":"updateVariant","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductVariantUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductVariantResponse"}}}}}},"delete":{"tags":["admin-product-controller"],"operationId":"deleteVariant","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/account/profile":{"get":{"tags":["user-profile-controller"],"operationId":"getProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponse"}}}}}},"put":{"tags":["user-profile-controller"],"operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponse"}}}}}}},"/api/account/addresses/{addressId}":{"get":{"tags":["address-controller"],"operationId":"getAddress","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddressResponse"}}}}}},"put":{"tags":["address-controller"],"operationId":"updateAddress","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddressResponse"}}}}}},"delete":{"tags":["address-controller"],"operationId":"deleteAddress","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/support/conversations":{"get":{"tags":["support-conversation-controller"],"operationId":"listConversations","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseSupportConversationSummaryResponse"}}}}}},"post":{"tags":["support-conversation-controller"],"operationId":"startConversation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSupportConversationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupportConversationSummaryResponse"}}}}}}},"/api/support/conversations/{conversationId}/messages":{"get":{"tags":["support-conversation-controller"],"operationId":"getMessages","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SupportMessageResponse"}}}}}}},"post":{"tags":["support-conversation-controller"],"operationId":"sendMessage","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendSupportMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupportMessageResponse"}}}}}}},"/api/payments/{provider}/confirm":{"post":{"tags":["payment-controller"],"operationId":"confirmPayment","parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentConfirmationResponse"}}}}}}},"/api/orders/{orderId}/confirm-fulfillment":{"post":{"tags":["order-controller"],"operationId":"confirmFulfillment","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderStatusResponse"}}}}}}},"/api/orders/checkout":{"post":{"tags":["order-controller"],"operationId":"checkout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckoutRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckoutResponse"}}}}}}},"/api/catalog/products/{productId}/views":{"post":{"tags":["product-view-controller"],"operationId":"recordView","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductViewRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/catalog/products/{productId}/reviews":{"get":{"tags":["product-review-controller"],"operationId":"listReviews","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseProductReviewResponse"}}}}}},"post":{"tags":["product-review-controller"],"operationId":"createReview","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductReviewResponse"}}}}}}},"/api/catalog/products/views/link-session":{"post":{"tags":["product-view-controller"],"operationId":"linkSession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkSessionRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/catalog/categories":{"get":{"tags":["category-controller"],"operationId":"listCategories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryResponse"}}}}}}},"post":{"tags":["category-controller"],"operationId":"createCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryResponse"}}}}}}},"/api/cart/items":{"post":{"tags":["cart-controller"],"operationId":"addItem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddCartItemRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartResponse"}}}}}}},"/api/auth/register":{"post":{"tags":["auth-controller"],"operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/auth/refresh":{"post":{"tags":["auth-controller"],"operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/auth/password/reset/request":{"post":{"tags":["password-reset-controller"],"operationId":"requestReset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/auth/password/reset/confirm":{"post":{"tags":["password-reset-controller"],"operationId":"confirmReset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetConfirmRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/auth/login":{"post":{"tags":["auth-controller"],"operationId":"login","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"sec-ch-ua","in":"header","required":false,"schema":{"type":"string"}},{"name":"sec-ch-ua-platform","in":"header","required":false,"schema":{"type":"string"}},{"name":"sec-ch-ua-mobile","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/auth/activate/resend":{"post":{"tags":["auth-controller"],"operationId":"resendActivation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendActivationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ActivationResponse"}}}}}}},"/api/agent/chat":{"post":{"tags":["chat-agent-controller"],"operationId":"chat","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-trace-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-request-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"traceparent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentChatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AgentChatResponse"}}}}}}},"/api/admin/support/conversations/{conversationId}/messages":{"get":{"tags":["admin-support-conversation-controller"],"operationId":"getMessages_1","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SupportMessageResponse"}}}}}}},"post":{"tags":["admin-support-conversation-controller"],"operationId":"sendMessage_1","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendSupportMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupportMessageResponse"}}}}}}},"/api/admin/catalog/products":{"get":{"tags":["admin-product-controller"],"operationId":"listProducts","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["draft","active","archived"]}},{"name":"featured","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"gender","in":"query","required":false,"schema":{"type":"string","enum":["mens","womens","unisex","kids","unknown"]}},{"name":"categoryId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"updatedAfter","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"updatedBefore","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseProductSummaryResponse"}}}}}},"post":{"tags":["admin-product-controller"],"operationId":"createProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductUpsertRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}}},"/api/admin/catalog/products/{productId}/variants":{"get":{"tags":["admin-product-controller"],"operationId":"listVariants","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductVariantResponse"}}}}}}},"post":{"tags":["admin-product-controller"],"operationId":"createVariants","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductVariantCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductVariantResponse"}}}}}}}},"/api/admin/catalog/products/{productId}/variants/{variantId}/stock-adjustments":{"get":{"tags":["admin-product-controller"],"operationId":"listVariantStockAdjustments","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductVariantStockAdjustmentResponse"}}}}}}},"post":{"tags":["admin-product-controller"],"operationId":"adjustVariantStock","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductVariantStockAdjustmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductVariantStockAdjustmentResponse"}}}}}}},"/api/admin/catalog/products/{productId}/images":{"post":{"tags":["admin-product-controller"],"operationId":"uploadProductImage","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"altText","in":"query","required":false,"schema":{"type":"string"}},{"name":"displayOrder","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"primary","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"colorId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductImageResponse"}}}}}}},"/api/account/wishlist":{"get":{"tags":["wishlist-controller"],"operationId":"listWishlist","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WishlistItemResponse"}}}}}}},"post":{"tags":["wishlist-controller"],"operationId":"addToWishlist","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WishlistItemRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WishlistItemResponse"}}}}}}},"/api/account/addresses":{"get":{"tags":["address-controller"],"operationId":"listAddresses","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AddressResponse"}}}}}}},"post":{"tags":["address-controller"],"operationId":"createAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddressResponse"}}}}}}},"/api/admin/users/{userId}/status":{"patch":{"tags":["admin-user-controller"],"operationId":"updateStatus","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUserStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminUserDetailResponse"}}}}}}},"/api/admin/support/conversations/{conversationId}/status":{"patch":{"tags":["admin-support-conversation-controller"],"operationId":"updateStatus_1","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSupportConversationStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupportConversationSummaryResponse"}}}}}}},"/api/admin/catalog/products/{productId}/variants/{variantId}/status":{"patch":{"tags":["admin-product-controller"],"operationId":"updateVariantStatus","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductVariantStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductVariantResponse"}}}}}}},"/api/admin/catalog/products/{productId}/status":{"patch":{"tags":["admin-product-controller"],"operationId":"updateProductStatus","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}}},"/api/admin/catalog/products/{productId}/images/{imageId}":{"delete":{"tags":["admin-product-controller"],"operationId":"deleteProductImage","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"imageId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["admin-product-controller"],"operationId":"updateProductImage","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"imageId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductImageUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductImageResponse"}}}}}}},"/api/account/profile/password":{"patch":{"tags":["user-profile-controller"],"operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPasswordChangeRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/orders":{"get":{"tags":["order-controller"],"operationId":"listOrders","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseOrderSummaryResponse"}}}}}}},"/api/orders/purchased-items":{"get":{"tags":["order-controller"],"operationId":"getPurchasedItems","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponsePurchasedItemResponse"}}}}}}},"/api/orders/purchased-items/{productId}/latest":{"get":{"tags":["order-controller"],"operationId":"getLatestPurchasedItem","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchasedItemLookupResponse"}}}}}}},"/api/catalog/products":{"get":{"tags":["product-controller"],"operationId":"listProducts_1","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseProductSummaryResponse"}}}}}}},"/api/catalog/products/{slug}":{"get":{"tags":["product-controller"],"operationId":"getProductBySlug","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}}},"/api/catalog/products/variants/{variantId}/recommendations":{"get":{"tags":["product-recommendation-controller"],"operationId":"recommendSimilarProducts","parameters":[{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"k","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductRecommendationResponse"}}}}}}},"/api/catalog/products/search":{"get":{"tags":["product-controller"],"operationId":"searchProducts","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseProductSummaryResponse"}}}}}}},"/api/catalog/products/gender/{gender}":{"get":{"tags":["product-controller"],"operationId":"listProductsByGender","parameters":[{"name":"gender","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseProductSummaryResponse"}}}}}}},"/api/catalog/products/filter":{"get":{"tags":["product-controller"],"operationId":"filterProducts","parameters":[{"name":"gender","in":"query","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","required":false,"schema":{"type":"string"}},{"name":"color","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sizes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"inStock","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"priceMin","in":"query","required":false,"schema":{"type":"number"}},{"name":"priceMax","in":"query","required":false,"schema":{"type":"number"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseProductSummaryResponse"}}}}}}},"/api/catalog/products/category/{slug}":{"get":{"tags":["product-controller"],"operationId":"listProductsByCategory","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseProductSummaryResponse"}}}}}}},"/api/catalog/categories/{slug}":{"get":{"tags":["category-controller"],"operationId":"getCategory","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryResponse"}}}}}}},"/api/catalog/categories/common":{"get":{"tags":["category-controller"],"operationId":"listCommonCategories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryResponse"}}}}}}}},"/api/cart":{"get":{"tags":["cart-controller"],"operationId":"getCart","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartResponse"}}}}}},"delete":{"tags":["cart-controller"],"operationId":"clearCart","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartResponse"}}}}}}},"/api/auth/test-token":{"get":{"tags":["auth-controller"],"operationId":"testToken","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthStatusResponse"}}}}}}},"/api/auth/me":{"get":{"tags":["auth-controller"],"operationId":"getCurrentUser","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/auth/activate":{"get":{"tags":["auth-controller"],"operationId":"activateAccount","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ActivationResponse"}}}}}}},"/api/admin/users":{"get":{"tags":["admin-user-controller"],"operationId":"listUsers","parameters":[{"name":"enabled","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"role","in":"query","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseAdminUserSummaryResponse"}}}}}}},"/api/admin/users/{userId}":{"get":{"tags":["admin-user-controller"],"operationId":"getUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminUserDetailResponse"}}}}}}},"/api/admin/support/conversations":{"get":{"tags":["admin-support-conversation-controller"],"operationId":"listConversations_1","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["OPEN","WAITING_CUSTOMER","WAITING_STAFF","CLOSED"]}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseSupportConversationSummaryResponse"}}}}}}},"/api/admin/support/conversations/assigned":{"get":{"tags":["admin-support-conversation-controller"],"operationId":"listAssigned","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseSupportConversationSummaryResponse"}}}}}}},"/api/admin/payments/transactions":{"get":{"tags":["admin-payment-transaction-controller"],"operationId":"listTransactions","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","AUTHORIZED","CAPTURED","FAILED","VOIDED"]}},{"name":"method","in":"query","required":false,"schema":{"type":"string","enum":["CARD","CASH_ON_DELIVERY","BANK_TRANSFER","WALLET","MANUAL","UNKNOWN"]}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"orderNumber","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdAfter","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdBefore","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponsePaymentTransactionResponse"}}}}}}},"/api/admin/payments/transactions/{transactionId}":{"get":{"tags":["admin-payment-transaction-controller"],"operationId":"getTransaction","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentTransactionResponse"}}}}}}},"/api/admin/orders/{orderNumber}/transactions":{"get":{"tags":["admin-payment-transaction-controller"],"operationId":"listTransactionsForOrder","parameters":[{"name":"orderNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentTransactionResponse"}}}}}}}},"/api/admin/catalog/products/{productId}/colors":{"get":{"tags":["admin-product-controller"],"operationId":"listProductColors","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductColorMediaResponse"}}}}}}}},"/api/admin/catalog/colors":{"get":{"tags":["admin-color-controller"],"operationId":"listColors","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ColorResponse"}}}}}}}},"/api/admin/analytics/summary":{"get":{"tags":["admin-analytics-controller"],"operationId":"getSummary","parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminAnalyticsSummaryResponse"}}}}}}},"/api/admin/analytics/revenue":{"get":{"tags":["admin-analytics-controller"],"operationId":"getRevenueTimeseries","parameters":[{"name":"start","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"interval","in":"query","required":false,"schema":{"type":"string","default":"daily"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdminRevenueTimeseriesPoint"}}}}}}}},"/api/account/wishlist/{productId}":{"delete":{"tags":["wishlist-controller"],"operationId":"removeFromWishlist","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"UpdateCartItemRequest":{"type":"object","properties":{"quantity":{"type":"integer","format":"int32"}},"required":["quantity"]},"CartItemResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"variantId":{"type":"string","format":"uuid"},"productId":{"type":"string","format":"uuid"},"productName":{"type":"string"},"productSlug":{"type":"string"},"variantSku":{"type":"string"},"size":{"type":"string"},"fit":{"type":"string"},"color":{"$ref":"#/components/schemas/ColorResponse"},"quantity":{"type":"integer","format":"int32"},"unitPrice":{"type":"number"},"lineTotal":{"type":"number"},"inStock":{"type":"boolean"},"availableQuantity":{"type":"integer","format":"int32"},"imageUrl":{"type":"string"},"altText":{"type":"string"}}},"CartResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"totalItems":{"type":"integer","format":"int32"},"totalQuantity":{"type":"integer","format":"int32"},"subtotal":{"type":"number"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"items":{"type":"array","items":{"$ref":"#/components/schemas/CartItemResponse"}}}},"ColorResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string"},"name":{"type":"string"},"hex":{"type":"string"}}},"AdminUserRolesRequest":{"type":"object","properties":{"roles":{"type":"array","items":{"type":"string"},"uniqueItems":true}},"required":["roles"]},"AddressResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"label":{"type":"string"},"recipientName":{"type":"string"},"phone":{"type":"string"},"line1":{"type":"string"},"line2":{"type":"string"},"city":{"type":"string"},"stateProvince":{"type":"string"},"postalCode":{"type":"string"},"countryCode":{"type":"string"},"isDefault":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"AdminUserDetailResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"enabled":{"type":"boolean"},"emailVerifiedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"roles":{"type":"array","items":{"type":"string"}},"addresses":{"type":"array","items":{"$ref":"#/components/schemas/AddressResponse"}}}},"ProductUpsertRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":255,"minLength":0},"slug":{"type":"string","maxLength":255,"minLength":0},"description":{"type":"string","maxLength":2048,"minLength":0},"basePrice":{"type":"number","minimum":0.00},"categoryId":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["draft","active","archived"]},"featured":{"type":"boolean"},"gender":{"type":"string","enum":["mens","womens","unisex","kids","unknown"]},"productType":{"type":"string","maxLength":128,"minLength":0},"taxonomyPath":{"type":"array","items":{"type":"string","maxLength":128,"minLength":0}},"tags":{"type":"array","items":{"type":"string","maxLength":128,"minLength":0}}},"required":["basePrice","categoryId"]},"CategorySummary":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"slug":{"type":"string"}}},"ProductImageResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"imageUrl":{"type":"string"},"altText":{"type":"string"},"displayOrder":{"type":"integer","format":"int32"},"primary":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"color":{"$ref":"#/components/schemas/ColorResponse"}}},"ProductResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"basePrice":{"type":"number"},"status":{"type":"string","enum":["draft","active","archived"]},"featured":{"type":"boolean"},"gender":{"type":"string","enum":["mens","womens","unisex","kids","unknown"]},"taxonomyPath":{"type":"array","items":{"type":"string"}},"productType":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"category":{"$ref":"#/components/schemas/CategorySummary"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/ProductTagResponse"}},"variants":{"type":"array","items":{"$ref":"#/components/schemas/ProductVariantResponse"}},"images":{"type":"array","items":{"$ref":"#/components/schemas/ProductImageResponse"}}}},"ProductTagResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"tag":{"type":"string"}}},"ProductVariantResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"variantSku":{"type":"string"},"price":{"type":"number"},"quantityInStock":{"type":"integer","format":"int32"},"active":{"type":"boolean"},"size":{"type":"string"},"fit":{"type":"string"},"currency":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"color":{"$ref":"#/components/schemas/ColorResponse"},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/VariantAttributeValueResponse"}}}},"VariantAttributeValueResponse":{"type":"object","properties":{"valueId":{"type":"integer","format":"int32"},"value":{"type":"string"},"displayValue":{"type":"string"},"attributeId":{"type":"integer","format":"int32"},"attributeName":{"type":"string"},"attributeType":{"type":"string"}}},"ProductVariantUpdateRequest":{"type":"object","properties":{"sku":{"type":"string","maxLength":128,"minLength":0},"price":{"type":"number","minimum":0.00},"quantity":{"type":"integer","format":"int32"},"active":{"type":"boolean"},"size":{"type":"string","maxLength":64,"minLength":0},"fit":{"type":"string","maxLength":64,"minLength":0},"currency":{"type":"string","maxLength":8,"minLength":0},"colorId":{"type":"integer","format":"int32"}}},"UserProfileUpdateRequest":{"type":"object","properties":{"firstName":{"type":"string","maxLength":80,"minLength":0},"lastName":{"type":"string","maxLength":80,"minLength":0},"phone":{"type":"string","maxLength":30,"minLength":0}}},"UserProfileResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"phone":{"type":"string"},"enabled":{"type":"boolean"},"emailVerifiedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"AddressRequest":{"type":"object","properties":{"label":{"type":"string","maxLength":100,"minLength":0},"recipientName":{"type":"string","maxLength":150,"minLength":0},"phone":{"type":"string","maxLength":30,"minLength":0},"line1":{"type":"string","maxLength":255,"minLength":0},"line2":{"type":"string","maxLength":255,"minLength":0},"city":{"type":"string","maxLength":120,"minLength":0},"stateProvince":{"type":"string","maxLength":120,"minLength":0},"postalCode":{"type":"string","maxLength":32,"minLength":0},"countryCode":{"type":"string","maxLength":2,"minLength":2},"isDefault":{"type":"boolean"}}},"CreateSupportConversationRequest":{"type":"object","properties":{"subject":{"type":"string","maxLength":180,"minLength":0},"message":{"type":"string","minLength":1},"attachmentUrls":{"type":"array","items":{"type":"string"}}}},"SupportConversationSummaryResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["OPEN","WAITING_CUSTOMER","WAITING_STAFF","CLOSED"]},"subject":{"type":"string"},"lastMessageAt":{"type":"string","format":"date-time"},"customer":{"$ref":"#/components/schemas/SupportUserSummaryResponse"},"assignedStaff":{"$ref":"#/components/schemas/SupportUserSummaryResponse"},"lastMessage":{"$ref":"#/components/schemas/SupportMessageResponse"},"unreadCount":{"type":"integer","format":"int64"}}},"SupportMessageResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"conversationId":{"type":"string","format":"uuid"},"senderType":{"type":"string","enum":["CUSTOMER","STAFF"]},"sender":{"$ref":"#/components/schemas/SupportUserSummaryResponse"},"body":{"type":"string"},"attachmentUrls":{"type":"array","items":{"type":"string"}},"readAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"SupportUserSummaryResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}}},"SendSupportMessageRequest":{"type":"object","properties":{"body":{"type":"string","minLength":1},"attachmentUrls":{"type":"array","items":{"type":"string"}}}},"PaymentConfirmationResponse":{"type":"object","properties":{"orderNumber":{"type":"string"},"orderStatus":{"type":"string","enum":["PENDING","AWAITING_PAYMENT","PROCESSING","FULFILLED","CANCELLED"]},"paymentStatus":{"type":"string","enum":["PENDING","AUTHORIZED","CAPTURED","FAILED","VOIDED"]},"transactionStatus":{"type":"string","enum":["PENDING","AUTHORIZED","CAPTURED","FAILED","VOIDED"]},"alreadyProcessed":{"type":"boolean"}}},"OrderStatusResponse":{"type":"object","properties":{"orderId":{"type":"string","format":"uuid"},"orderNumber":{"type":"string"},"orderStatus":{"type":"string","enum":["PENDING","AWAITING_PAYMENT","PROCESSING","FULFILLED","CANCELLED"]},"paymentStatus":{"type":"string","enum":["PENDING","AUTHORIZED","CAPTURED","FAILED","VOIDED"]},"paidAt":{"type":"string","format":"date-time"},"fulfilledAt":{"type":"string","format":"date-time"}}},"CheckoutAddressRequest":{"type":"object","properties":{"label":{"type":"string","maxLength":100,"minLength":0},"recipientName":{"type":"string","maxLength":150,"minLength":0},"phone":{"type":"string","maxLength":30,"minLength":0},"line1":{"type":"string","maxLength":255,"minLength":0},"line2":{"type":"string","maxLength":255,"minLength":0},"city":{"type":"string","maxLength":120,"minLength":0},"stateProvince":{"type":"string","maxLength":120,"minLength":0},"postalCode":{"type":"string","maxLength":32,"minLength":0},"countryCode":{"type":"string","maxLength":2,"minLength":2},"instructions":{"type":"string","maxLength":500,"minLength":0}}},"CheckoutRequest":{"type":"object","properties":{"paymentProvider":{"type":"string","enum":["VNPAY"]},"addressId":{"type":"string","format":"uuid"},"address":{"$ref":"#/components/schemas/CheckoutAddressRequest"},"saveAddress":{"type":"boolean"},"shippingAmount":{"type":"number","minimum":0.00},"discountAmount":{"type":"number","minimum":0.00},"taxAmount":{"type":"number","minimum":0.00},"shippingMethod":{"type":"string","maxLength":64,"minLength":0},"notes":{"type":"string","maxLength":2048,"minLength":0}}},"CheckoutItemResponse":{"type":"object","properties":{"productId":{"type":"string","format":"uuid"},"variantId":{"type":"string","format":"uuid"},"quantity":{"type":"integer","format":"int32"},"unitPrice":{"type":"number"},"discountAmount":{"type":"number"},"totalAmount":{"type":"number"},"currency":{"type":"string"}}},"CheckoutResponse":{"type":"object","properties":{"orderId":{"type":"string","format":"uuid"},"orderNumber":{"type":"string"},"status":{"type":"string","enum":["PENDING","AWAITING_PAYMENT","PROCESSING","FULFILLED","CANCELLED"]},"paymentStatus":{"type":"string","enum":["PENDING","AUTHORIZED","CAPTURED","FAILED","VOIDED"]},"subtotalAmount":{"type":"number"},"discountAmount":{"type":"number"},"shippingAmount":{"type":"number"},"taxAmount":{"type":"number"},"totalAmount":{"type":"number"},"currency":{"type":"string"},"totalAmountVnd":{"type":"number"},"paymentProvider":{"type":"string","enum":["VNPAY"]},"paymentUrl":{"type":"string"},"paymentUrlExpiresAt":{"type":"string","format":"date-time"},"items":{"type":"array","items":{"$ref":"#/components/schemas/CheckoutItemResponse"}}}},"JsonNode":{"type":"object"},"ProductViewRequest":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid"},"variantId":{"type":"string","format":"uuid"},"metadata":{"$ref":"#/components/schemas/JsonNode"}}},"ProductReviewRequest":{"type":"object","properties":{"rating":{"type":"integer","format":"int32","maximum":5,"minimum":1},"reviewText":{"type":"string","maxLength":2000,"minLength":0},"orderItemId":{"type":"string","format":"uuid"}}},"ProductReviewResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"productId":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"reviewerName":{"type":"string"},"rating":{"type":"integer","format":"int32"},"reviewText":{"type":"string"},"verifiedPurchase":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"LinkSessionRequest":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid"}},"required":["sessionId"]},"CategoryCreateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":255,"minLength":0},"slug":{"type":"string","maxLength":255,"minLength":0},"displayOrder":{"type":"integer","format":"int32"},"active":{"type":"boolean"},"parentCategoryId":{"type":"integer","format":"int32"}},"required":["active"]},"CategoryResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"slug":{"type":"string"},"displayOrder":{"type":"integer","format":"int32"},"active":{"type":"boolean"},"parentCategoryId":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"}}},"AddCartItemRequest":{"type":"object","properties":{"variantId":{"type":"string","format":"uuid"},"quantity":{"type":"integer","format":"int32"}},"required":["variantId"]},"RegisterRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1},"password":{"type":"string","maxLength":2147483647,"minLength":6},"firstName":{"type":"string","maxLength":80,"minLength":0},"lastName":{"type":"string","maxLength":80,"minLength":0}}},"AuthResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"token":{"type":"string"},"refreshToken":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}}}},"RefreshTokenRequest":{"type":"object","properties":{"refreshToken":{"type":"string","minLength":1}}},"PasswordResetRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1}}},"PasswordResetConfirmRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1},"token":{"type":"string","maxLength":4,"minLength":4},"newPassword":{"type":"string","maxLength":2147483647,"minLength":6},"confirmPassword":{"type":"string","minLength":1},"passwordConfirmed":{"type":"boolean"}}},"LoginRequest":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"ResendActivationRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1}}},"ActivationResponse":{"type":"object","properties":{"activated":{"type":"boolean"},"message":{"type":"string"}}},"AgentChatRequest":{"type":"object","properties":{"message":{"type":"string","minLength":1},"sessionId":{"type":"string","minLength":1},"traceId":{"type":"string"},"requestId":{"type":"string"},"traceparent":{"type":"string"},"userId":{"type":"string"},"authenticated":{"type":"boolean"},"pageContext":{"type":"object","additionalProperties":{"type":"object"}}}},"AgentChatResponse":{"type":"object","properties":{"sessionId":{"type":"string"},"traceId":{"type":"string"},"intent":{"type":"string"},"responseType":{"type":"string"},"answer":{"type":"string"},"productCards":{"type":"array","items":{"$ref":"#/components/schemas/AgentProductCard"}},"draftAction":{"$ref":"#/components/schemas/AgentDraftAction"},"needsConfirmation":{"type":"boolean"},"toolCalls":{"type":"array","items":{"$ref":"#/components/schemas/AgentToolCallTrace"}},"nodeTraces":{"type":"array","items":{"$ref":"#/components/schemas/AgentNodeTrace"}},"slots":{"type":"object","additionalProperties":{"type":"object"}},"intentConfidence":{"type":"number","format":"double"},"routingConfidence":{"type":"number","format":"double"},"needsReview":{"type":"boolean"},"latencyMs":{"type":"number","format":"double"},"fallbackCount":{"type":"integer","format":"int32"}}},"AgentDraftAction":{"type":"object","properties":{"draftActionId":{"type":"string"},"actionType":{"type":"string"},"payload":{"type":"object","additionalProperties":{"type":"object"}},"status":{"type":"string"},"expiresAt":{"type":"string","format":"date-time"},"needsConfirmation":{"type":"boolean"}}},"AgentNodeTrace":{"type":"object","properties":{"nodeName":{"type":"string"},"status":{"type":"string"},"latencyMs":{"type":"number","format":"double"},"intent":{"type":"string"},"inputSummary":{"type":"string"},"outputSummary":{"type":"string"},"intentConfidence":{"type":"number","format":"double"},"routingConfidence":{"type":"number","format":"double"},"errorClass":{"type":"string"},"errorMessage":{"type":"string"}}},"AgentProductCard":{"type":"object","properties":{"productId":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"category":{"type":"string"},"gender":{"type":"string"},"price":{"type":"integer","format":"int32"},"currency":{"type":"string"},"imageUrl":{"type":"string"},"colors":{"type":"array","items":{"type":"string"}},"sizes":{"type":"array","items":{"type":"string"}},"inStock":{"type":"boolean"},"stock":{"type":"integer","format":"int32"},"reason":{"type":"string"}}},"AgentToolCallTrace":{"type":"object","properties":{"toolName":{"type":"string"},"status":{"type":"string"},"latencyMs":{"type":"number","format":"double"},"traceId":{"type":"string"},"input":{"type":"object","additionalProperties":{"type":"object"}},"requestSummary":{"type":"string"},"responseSummary":{"type":"string"},"outputSummary":{"type":"string"},"error":{"type":"string"},"errorClass":{"type":"string"},"errorMessage":{"type":"string"}}},"ProductVariantCreateRequest":{"type":"object","properties":{"colorId":{"type":"integer","format":"int32"},"variants":{"type":"array","items":{"$ref":"#/components/schemas/VariantPayload"},"maxItems":2147483647,"minItems":1}},"required":["colorId","variants"]},"VariantPayload":{"type":"object","properties":{"sku":{"type":"string","maxLength":128,"minLength":0},"size":{"type":"string","maxLength":64,"minLength":0},"fit":{"type":"string","maxLength":64,"minLength":0},"price":{"type":"number","minimum":0.00},"quantity":{"type":"integer","format":"int32"},"active":{"type":"boolean"},"currency":{"type":"string","maxLength":8,"minLength":0}},"required":["quantity"]},"ProductVariantStockAdjustmentRequest":{"type":"object","properties":{"newQuantity":{"type":"integer","format":"int32","minimum":0},"reason":{"type":"string","maxLength":128,"minLength":0},"notes":{"type":"string","maxLength":1024,"minLength":0}},"required":["newQuantity"]},"AdjustedBy":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}}},"ProductVariantStockAdjustmentResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"previousQuantity":{"type":"integer","format":"int32"},"newQuantity":{"type":"integer","format":"int32"},"delta":{"type":"integer","format":"int32"},"reason":{"type":"string"},"notes":{"type":"string"},"adjustedAt":{"type":"string","format":"date-time"},"adjustedBy":{"$ref":"#/components/schemas/AdjustedBy"}}},"WishlistItemRequest":{"type":"object","properties":{"productId":{"type":"string","format":"uuid"}},"required":["productId"]},"WishlistItemResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"productId":{"type":"string","format":"uuid"},"productName":{"type":"string"},"productSlug":{"type":"string"},"basePrice":{"type":"number"},"productActive":{"type":"boolean"},"addedAt":{"type":"string","format":"date-time"}}},"AdminUserStatusRequest":{"type":"object","properties":{"enabled":{"type":"boolean"}},"required":["enabled"]},"UpdateSupportConversationStatusRequest":{"type":"object","properties":{"status":{"type":"string","enum":["OPEN","WAITING_CUSTOMER","WAITING_STAFF","CLOSED"]}},"required":["status"]},"ProductVariantStatusRequest":{"type":"object","properties":{"active":{"type":"boolean"}},"required":["active"]},"ProductStatusUpdateRequest":{"type":"object","properties":{"status":{"type":"string","enum":["draft","active","archived"]}},"required":["status"]},"ProductImageUpdateRequest":{"type":"object","properties":{"altText":{"type":"string","maxLength":512,"minLength":0},"displayOrder":{"type":"integer","format":"int32"},"primary":{"type":"boolean"},"colorId":{"type":"integer","format":"int32"}}},"UserPasswordChangeRequest":{"type":"object","properties":{"currentPassword":{"type":"string","minLength":1},"newPassword":{"type":"string","maxLength":2147483647,"minLength":6},"confirmPassword":{"type":"string","minLength":1},"passwordConfirmed":{"type":"boolean"}}},"PageResponseSupportConversationSummaryResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/SupportConversationSummaryResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"hasPrevious":{"type":"boolean"}}},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"OrderSummaryItemResponse":{"type":"object","properties":{"orderItemId":{"type":"string","format":"uuid"},"productId":{"type":"string","format":"uuid"},"productName":{"type":"string"},"variantId":{"type":"string","format":"uuid"},"slug":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"unitPrice":{"type":"number"},"totalAmount":{"type":"number"},"currency":{"type":"string"}}},"OrderSummaryResponse":{"type":"object","properties":{"orderId":{"type":"string","format":"uuid"},"orderNumber":{"type":"string"},"orderStatus":{"type":"string","enum":["PENDING","AWAITING_PAYMENT","PROCESSING","FULFILLED","CANCELLED"]},"paymentStatus":{"type":"string","enum":["PENDING","AUTHORIZED","CAPTURED","FAILED","VOIDED"]},"subtotalAmount":{"type":"number"},"discountAmount":{"type":"number"},"shippingAmount":{"type":"number"},"taxAmount":{"type":"number"},"totalAmount":{"type":"number"},"currency":{"type":"string"},"shippingMethod":{"type":"string"},"shippingTrackingNumber":{"type":"string"},"placedAt":{"type":"string","format":"date-time"},"paidAt":{"type":"string","format":"date-time"},"fulfilledAt":{"type":"string","format":"date-time"},"items":{"type":"array","items":{"$ref":"#/components/schemas/OrderSummaryItemResponse"}}}},"PageResponseOrderSummaryResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/OrderSummaryResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"hasPrevious":{"type":"boolean"}}},"PageResponsePurchasedItemResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/PurchasedItemResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"hasPrevious":{"type":"boolean"}}},"PurchasedItemResponse":{"type":"object","properties":{"orderId":{"type":"string","format":"uuid"},"orderNumber":{"type":"string"},"orderStatus":{"type":"string","enum":["PENDING","AWAITING_PAYMENT","PROCESSING","FULFILLED","CANCELLED"]},"paymentStatus":{"type":"string","enum":["PENDING","AUTHORIZED","CAPTURED","FAILED","VOIDED"]},"slug":{"type":"string"},"orderItemId":{"type":"string","format":"uuid"},"productId":{"type":"string","format":"uuid"},"productName":{"type":"string"},"variantId":{"type":"string","format":"uuid"},"quantity":{"type":"integer","format":"int32"},"unitPrice":{"type":"number"},"totalAmount":{"type":"number"},"currency":{"type":"string"},"purchasedAt":{"type":"string","format":"date-time"}}},"PurchasedItemLookupResponse":{"type":"object","properties":{"orderItemId":{"type":"string","format":"uuid"},"orderId":{"type":"string","format":"uuid"},"orderNumber":{"type":"string"},"purchasedAt":{"type":"string","format":"date-time"},"verifiedPurchase":{"type":"boolean"}}},"PageResponseProductSummaryResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/ProductSummaryResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"hasPrevious":{"type":"boolean"}}},"ProductSummaryResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"basePrice":{"type":"number"},"status":{"type":"string","enum":["draft","active","archived"]},"featured":{"type":"boolean"},"gender":{"type":"string","enum":["mens","womens","unisex","kids","unknown"]},"productType":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"category":{"$ref":"#/components/schemas/CategorySummary"}}},"PageResponseProductReviewResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/ProductReviewResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"hasPrevious":{"type":"boolean"}}},"ProductRecommendationItem":{"type":"object","properties":{"productId":{"type":"string","format":"uuid"},"variantId":{"type":"string","format":"uuid"},"productName":{"type":"string"},"productSlug":{"type":"string"},"price":{"type":"number"},"similarityScore":{"type":"number","format":"double"},"imageUrl":{"type":"string"}}},"ProductRecommendationResponse":{"type":"object","properties":{"queryVariantId":{"type":"string","format":"uuid"},"recommendations":{"type":"array","items":{"$ref":"#/components/schemas/ProductRecommendationItem"}},"responseTimeMs":{"type":"number","format":"double"},"fromCache":{"type":"boolean"},"totalResults":{"type":"integer","format":"int32"}}},"AuthStatusResponse":{"type":"object","properties":{"authenticated":{"type":"boolean"},"username":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}}}},"AdminUserSummaryResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"roles":{"type":"array","items":{"type":"string"}}}},"PageResponseAdminUserSummaryResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/AdminUserSummaryResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"hasPrevious":{"type":"boolean"}}},"Customer":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}}},"PageResponsePaymentTransactionResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/PaymentTransactionResponse"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"hasPrevious":{"type":"boolean"}}},"PaymentTransactionResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"orderId":{"type":"string","format":"uuid"},"orderNumber":{"type":"string"},"provider":{"type":"string","enum":["VNPAY"]},"providerTransactionId":{"type":"string"},"idempotencyKey":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"},"status":{"type":"string","enum":["PENDING","AUTHORIZED","CAPTURED","FAILED","VOIDED"]},"method":{"type":"string","enum":["CARD","CASH_ON_DELIVERY","BANK_TRANSFER","WALLET","MANUAL","UNKNOWN"]},"capturedAmount":{"type":"number"},"rawResponse":{"$ref":"#/components/schemas/JsonNode"},"errorCode":{"type":"string"},"errorMessage":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"customer":{"$ref":"#/components/schemas/Customer"}}},"ProductColorMediaResponse":{"type":"object","properties":{"color":{"$ref":"#/components/schemas/ColorResponse"},"images":{"type":"array","items":{"$ref":"#/components/schemas/ProductImageResponse"}},"variants":{"type":"array","items":{"$ref":"#/components/schemas/ProductVariantResponse"}}}},"AdminAnalyticsSummaryResponse":{"type":"object","properties":{"revenue":{"type":"number"},"orders":{"type":"integer","format":"int64"},"capturedPayments":{"type":"number"},"newCustomers":{"type":"integer","format":"int64"},"averageOrderValue":{"type":"number"},"conversionRate":{"type":"number"}}},"AdminRevenueTimeseriesPoint":{"type":"object","properties":{"bucketStart":{"type":"string","format":"date-time"},"bucketEnd":{"type":"string","format":"date-time"},"orderCount":{"type":"integer","format":"int64"},"gross":{"type":"number"},"net":{"type":"number"},"refunds":{"type":"number"}}}}}}